.marker-user-icon-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150%;
    min-height: 8px;
}

.marker-user-icon-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 150%;
}