.marker-user-icon-marker {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  height: 100%;
}

.marker-user-icon-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 80px;
  border: 6px solid #ffffff;
}
