.sos-form .ant-modal-content,
.sos-form .ant-modal-header {
  border-radius: 12px;
}

.sos-list-item {
  border-radius: 12px;
  margin: 12px 0px;
  padding: 16px 24px 8px 24px !important;
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.custom-input {
  border-radius: 4px;
  margin: 0px 0px 12px 0px;
}

.active {
  border-color: #1890ff !important;
}

.form-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: fixed;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}
