@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin remove-deafult-btn-look() {
  border: none;
  background-color: transparent;
}

.popup-container {
  @include flex-center();
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 100%;
  //   background-color: cyan;
}

.popup-event {
  flex-direction: column;
  align-items: flex-start;

  .popup-header {
    @include flex-center();
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-between;
  }

  &-avatar {
    @include flex-center();
    position: relative;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: black;
    &-img {
      @include flex-center();
      position: relative;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      object-fit: cover;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 12pt;
    color: black;
  }

  &-description {
    color: #8c8c8c;
  }

  // &-title {
  //   font-weight: bold;
  // }

  &-location-btn {
    @include remove-deafult-btn-look();
    @include flex-center();
    font-size: 16pt;
    border: 1px solid #d9d9d9;
    border-radius: 5px !important;
  }
}

.leaflet-popup-content-wrapper {
  //   border-radius: 0px;
  padding: 0.2rem;
}

.popup-event-accepted-avatar-container {
  @include flex-center();
  flex-direction: row;
}

.popup-event-accepted-avatar {
  width: 28px;
  height: 28px;
  border: 1px solid white;
}

.popup-footer {
  @include flex-center();
  position: relative;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.location-button {
  @include flex-center();
  border: 1px solid #8c8c8c;
  border-radius: 4px !important;
}
